img[alt]{/*con los corchetes se selecciona un atributo [ejem alt]*/
	/*imagen con atributo alt*/
	border: 5px solid blue;
}
/*imagen con atributo SRC con cadena exacta*/
img[src="img/alerta.png"]{
	width: 400px;
}
/*imagen con atributo SRC con el inicio de la cadena*/
img[src^="img/"]{
	width: 150px;
}
/*imagen con atributo SRC al final de la cadena*/
img[src$=".png"]{
	width: 250px;
}
/*imagen con atributo SRC en cualquier parte de la cadena*/
img[src*="ta"]{
	width: 1000px;
}
/*El caracter ~ indica que estos selectores en este article están separados por espacios*/
article[class~="resaltado"]{
	border: 1px dashed blue;
}

article[class~="archivo"]{
	border: 1px dashed red;
}
article[class~="ingles"]{
	border: 1px dashed green;
}
/*El atributo id es una lista de valores separados por guiones, pero sólo si el valor
más a la izquierda es ingles*/
article[id|="ingles"]{
	text-align: center;
}
/*selector de secundarios para seleccionar solamente el(los) <p> que se encuentran
inmediatamente después de <div>*/
div > p {
	color: blue;
}
/*Todos los elementos <p> serán seleccionados*/
div p{
	color: red;
}
/*Selecciona solo el elemento <p> que está inmediatamente después del elemento
 <h2>. (Hermano adyacente)*/
h2 + p{
	color: green;
}
/*Afecta a todos los elementos <p> que estén después de <h2> (Hermano general)*/
h2 ~ p{
	color: grey;
}
/*Poner en color rojo el texto de los section, menos el id="referencias"*/
#resumen,#experimento,#pruebas,#resultados,#conclusiones
{
	color: tomato;
}
/*Seleccionar todos menos la que no quiero*/
section:not(#referencias){
	color: hotpink;
}
/*Seleccionar elemento LI pares e impares*/
li:nth-child(odd){  /*Impar*/
		color: green;
	} 
li:nth-child(even){  /*Par*/
		color: blue;
}
li:nth-child(5){  /*Quinto Elemento*/
		color: red;
	} 
li:nth-last-child(1){  /*Último elemento hacia arriba*/
	color: yellow;
}
/*Primer y el último elemento*/
article:first-child{  /*nth-child(1)*/
	color: blue;
}
article:last-child{
	color: yellow;
}
/*Primera línea de un párrafo*/
p:first-line{
	font-weight: bold;
	text-transform: capitalize;
}