form input{
	border-radius: 5px;
	font-size: 1.7em;
}
form input[type="text"]{
	text-align: right;
}
form input[type="button"]{
	background: blue;
	color: white;
	width: 70px;
}
#btnCientifica{
	background: orange;
	color: black;
	border-radius: 5px;
	height: 50px;
	width: 150px;
	margin-right: 200px;
}